html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --header-color: #757575;
  --title-color: #212121;
  --main-color: #FFFFFF;
  --accent-color: #2196F3;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-two {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms var(--animation);
}

.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}

.menu-list .menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.header__navigation {
  margin-left: 93px;
  display: none;
}

@media (min-width: 768px) {
  .header__navigation {
    display: block;
    margin-left: 88px;
  }
}

.logo-two--dark {
  color: #000000;
}

.connect__mailto,
.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation);
}

.connect__mailto:hover, .connect__mailto:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .connect__mailto,
  .connect__tel {
    margin-left: 84px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 1200px) {
  .connect__mailto,
  .connect__tel {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .connect__mailto {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .connect__mailto {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .connect__tel {
    margin-left: 30px;
  }
}

.connect {
  display: none;
  margin-left: auto;
}

@media (min-width: 768px) {
  .connect {
    display: block;
  }
}

@media (min-width: 1200px) {
  .connect {
    display: flex;
  }
}

.header__connect {
  margin-right: 10px;
  fill: currentColor;
}

.header-open-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  transition: background-color 250ms var(--animation);
}

.header-open-button:hover, .header-open-button:focus {
  background-color: #0f76ca;
}

@media (min-width: 768px) {
  .header-open-button {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.mob-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
}

.header-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  transition: background-color 250ms var(--animation);
}

.header-close-button:hover, .header-close-button:focus {
  color: var(--accent-color);
}

.header-close-button:hover,
.header-button__icon:focus {
  color: #0f76ca;
}

.mob-menu-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-connect__mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-soc {
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-top: 64px;
  font-size: 4vmin;
}

.mob-menu-soc__link {
  color: var(--accent-color);
}

.mob-menu-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-soc .mob-menu-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.current {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.no-scroll {
  overflow: hidden;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2F303A;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img13x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img14.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img14x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img12.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img12x.jpg);
  }
}

.button {
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms var(--animation);
}

.button:hover, .button:focus {
  color: var(--main-color);
  background-color: #0f76ca;
}

.peculiarities-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-list {
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
    margin: -15px;
  }
}

.peculiarities,
.work {
  background-color: var(--main-color);
}

.peculiarities-list__item {
  /*width: 270px;
    margin-right: 30px;*/
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-list__item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.peculiarities-list__soc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*
.peculiarities-list__item:nth-child(4n) {
    margin-right: 0;
}

.peculiarities-list__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}*/
.peculiarities-list__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .peculiarities-list__subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list__subtitle {
    text-align: start;
  }
}

.peculiarities-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.work {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-list {
  display: flex;
  align-items: center;
  padding: 0;
}

.work-list__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-list__item:nth-child(3n) {
  margin-right: 0;
}

.work-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work__top-text {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.work-list__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__top-text {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .team__top-text {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.12;
  }
}

.team {
  background: #F5F4FA;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--main-color);
}

.team-card__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 16px;
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin: -15px;
  }
}

.team-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.team-list__item:nth-child(4n) {
  /*
    margin-right: 0;*/
}

.team-list__item:nth-last-child(-n + 4) {
  /*
    margin-bottom: 0;*/
}

.team-card__item {
  /*
    & + & {
        margin-left: 10px;
    }*/
}

.team-card__link {
  width: 44px;
  height: 44px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  transition: background-color 250ms var(--animation), color 250ms var(--animation);
}

.team-card__link:hover, .team-card__link:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.team-card__icon {
  fill: currentColor;
}

.team-card__list {
  display: flex;
  justify-content: center;
}

.clients__text {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__text {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list__link {
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--animation), color 250ms var(--animation);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(100% / 6 - 30px);
  }
}

/*
.clients-list__item + .clients-list__item {
    margin-left: 30px;
}
    */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  background-color: #2F303A;
}

.footer .container {
  align-items: baseline;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    text-align: left;
  }
}

.logo-two--light {
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-adress__text {
  padding-top: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media (min-width: 1200px) {
  .footer-adress__text {
    margin-bottom: 9px;
  }
}

.footer-adress__contacts {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .footer-adress__contacts {
    margin-bottom: 9px;
  }
}

.footer-adress__mailto {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress__mailto:hover, .footer-adress__mailto:focus {
  color: var(--accent-color);
}

.footer-adress__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress__tel:hover, .footer-adress__tel:focus {
  color: var(--accent-color);
}

@media (min-width: 1200px) {
  .footer-content {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.footer-content__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  color: var(--main-color);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-content__title {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .footer-content__title {
    justify-content: left;
  }
}

.footer-content-list__item + .footer-content-list__item {
  margin-left: 10px;
}

.footer-content-list__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  transition: background-color 250ms var(--animation);
  justify-content: center;
}

.footer-content-list__link:hover, .footer-content-list__link:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.footer-content-list__icon {
  fill: currentColor;
}

.footer-content-list {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
}

.footer-form__top-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .footer-form__top-title {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .footer-form__top-title {
    margin-top: 0;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

.footer-form__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-form__input {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer-form__input {
    display: flex;
  }
}

.footer-form__email {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1200px) {
  .footer-form__email {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color);
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 250ms var(--animation);
  cursor: pointer;
  border: 0;
  margin-top: 20px;
}

.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #0f76ca;
}

@media (min-width: 768px) {
  .footer-form__btn {
    display: inline-flex;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer-form__btn {
    margin-top: 0;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.section-portfolio {
  background-color: var(--main-color);
}

.section-portfolio-list-nav {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section-portfolio-list-nav {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio-list-nav {
    margin-bottom: 50px;
  }
}

/*
.section-portfolio-list-nav .section-portfolio-item-nav:not(:last-child) {
    margin-right: 8px;
}*/
.section-portfolio-btn {
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  margin: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-color);
  background-color: #F5F4FA;
  cursor: pointer;
  transition: background-color 250ms var(--animation), color 250ms var(--animation);
}

.section-portfolio-btn:hover, .section-portfolio-btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.section-portfolio-list {
  padding: 0;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .section-portfolio-list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.section-portfolio-item {
  /*
    margin-right: 30px;
    margin-bottom: 30px;*/
  margin-bottom: 30px;
}

.section-portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .section-portfolio-item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio-item {
    width: calc(100% / 3 - 30px);
  }
}

.section-portfolio-img {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.section-portfolio-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition: transform 250ms var(--animation);
}

.section-portfolio-item:hover .section-portfolio-top-text {
  transform: translateY(0%);
}

/*
.section-portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.section-portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}*/
.section-portfolio-subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.section-portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.cards {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms var(--animation), visibility 250ms var(--animation);
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 609px;
  background: var(--main-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  background: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: color 250ms var(--animation), background-color 250ms var(--animation);
}

.modal__button:hover, .modal__button:focus {
  background-color: var(--main-color);
  color: var(--accent-color);
}

.modal__icon {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .modal__title {
    line-height: 1.5;
  }
}

.modal-form-input-wrap__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms var(--animation);
}

.modal-form-input-wrap__input:focus {
  border: 1px solid var(--accent-color);
}

@media (min-width: 1200px) {
  .modal-form-input-wrap__input {
    width: 448px;
  }
}

.modal-form-input-wrap {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input-wrap__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form-input-wrap:focus + .modal-form-input-wrap__input-icon {
  fill: var(--accent-color);
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  color: var(--main-color);
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 250ms var(--animation);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #0f76ca;
}

.modal-form__text {
  width: 58px;
  height: 14px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--header-color);
}

.modal-form-textarea__textarea {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition: border 250ms var(--animation);
}

.modal-form-textarea__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.modal-form-textarea__textarea:focus {
  border: 1px solid var(--accent-color);
}

@media (min-width: 1200px) {
  .modal-form-textarea__textarea {
    width: 448px;
  }
}

.modal-form-checkbox__top-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color);
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  .modal-form-checkbox__top-text {
    font-size: 14px;
  }
}

.modal-form-checkbox__top-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--animation);
}

.modal-form-input-wrap-checkbox:focus + .modal-form-checkbox__top-text span {
  border-color: var(--accent-color);
}

.modal-form-check__icon {
  fill: transparent;
}

.modal-form-check__link {
  color: var(--accent-color);
  padding-left: 7px;
}

.modal-form-checkbox__input-checkbox:checked + .modal-form-checkbox__top-text span {
  background: var(--accent-color);
  border: transparent;
}

.modal-form-checkbox__input-checkbox:checked + .modal-form-checkbox__top-text span .modal-form-check__icon {
  fill: var(--main-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */