.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    background-color: #2F303A;
    
    .container {
            // display: inline-flex;
        align-items: baseline;
        text-align: center;
            @media (min-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    }
            @media (min-width: 1200px){
            text-align: left;
            }
        }
}

.logo-two--light {
    color: var(--main-color);
    margin-bottom: 20px;
}

.footer-adress__text {
    padding-top: 20px;
    margin-bottom: 8px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
        @media (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.footer-adress__contacts {
    margin-bottom: 8px;
        @media (min-width: 1200px){ 
        margin-bottom: 9px;
    }
}

.footer-adress__mailto {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

.footer-adress__tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.footer-content {
    @media (min-width: 1200px){
    margin-left: 70px;
    margin-top: 12px;
    }
}

.footer-content__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 60px;
    color: var(--main-color);
    text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 768px) {
                margin-top: 0;
            }
        @media (min-width: 1200px) {
            justify-content: left;
        }
}

.footer-content-list__item + .footer-content-list__item {
    margin-left: 10px;
}

.footer-content-list__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    transition: background-color 250ms var(--animation);
    justify-content: center;
    &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--main-color);
        }
}

.footer-content-list__icon {
    fill: currentColor;
}

.footer-content-list {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
}