.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms var(--animation), visibility 250ms var(--animation);
}

.modal {
    position: absolute;
    width: 450px;
    min-height: 609px;
    background: var(--main-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
@media (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }
}

.modal__button {
    position: absolute;
    background: var(--main-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    right: 8px;
    top: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: color 250ms var(--animation), background-color 250ms var(--animation);
    &:hover,
    &:focus {
        background-color: var(--main-color);
        color: var(--accent-color);
    }
}

.modal__icon {
    fill: currentColor;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
    @media (min-width: 1200px) {
        line-height: 1.5;
    }
}

.modal-form-input-wrap__input {
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: border 250ms var(--animation);
    &:focus {
            border: 1px solid var(--accent-color);
        }
    @media (min-width: 1200px) {
    width: 448px;
    }
}

.modal-form-input-wrap {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.modal-form-input-wrap__input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    .modal-form-input-wrap:focus + & {
            fill: var(--accent-color);
        }
}

.modal-form-btn{
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    color: var(--main-color);
    padding-left: 56px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 124px;
    margin-right: 124px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 250ms var(--animation);
    &:hover,
        &:focus {
            background-color: #0f76ca;
        }
}

.modal-form__text {
    width: 58px;
    height: 14px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--header-color);
}

.modal-form-textarea__textarea {
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    outline: none;
    resize: none;
    transition: border 250ms var(--animation);
    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
            font-size: 12px;
            letter-spacing: 0.01em;
            line-height: 1.17;
        }
    &:focus {
            border: 1px solid var(--accent-color);
        }
    @media (min-width: 1200px) {
        width: 448px;
    }
}

.modal-form-checkbox__top-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--header-color);
    display: flex;
    align-items: center;
    @media (min-width: 1200px) {
    font-size: 14px;
    }
}

.modal-form-checkbox__top-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 3px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms var(--animation);
    .modal-form-input-wrap-checkbox:focus + & {
            border-color: var(--accent-color);
        }
}

.modal-form-check__icon {
    fill: transparent;
}

.modal-form-check__link {
    color: var(--accent-color);
    padding-left: 7px;
}

.modal-form-checkbox__input-checkbox:checked+.modal-form-checkbox__top-text span {
    background: var(--accent-color);
    border: transparent;
}

.modal-form-checkbox__input-checkbox:checked+.modal-form-checkbox__top-text span .modal-form-check__icon {
    fill: var(--main-color);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}