.section-portfolio {
    background-color: var(--main-color);
}

/*
.section-portfolio-list-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}*/

.section-portfolio-list-nav {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

/*
.section-portfolio-list-nav .section-portfolio-item-nav:not(:last-child) {
    margin-right: 8px;
}*/

.section-portfolio-btn {
    border-radius: 4px;
    display: inline-block;
    padding: 6px 22px;
    margin: 8px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-color);
    background-color: #F5F4FA;
    cursor: pointer;
    transition: background-color 250ms var(--animation), color 250ms var(--animation);
&:hover,
    &:focus {
        color: var(--main-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}


.section-portfolio-list{
    padding: 0;
    margin-bottom: -30px;
    @media screen and (min-width: 768px){
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    margin: -15px;
    }
        }

.section-portfolio-item {
    /*
    margin-right: 30px;
    margin-bottom: 30px;
    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }*/
    margin-bottom: 30px;        
    @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
    }
    @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
    }
}

.section-portfolio-img {
    flex-direction: column;
    height: 100%;
}

.section-portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.section-portfolio-top-text {
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    transform: translateY(100%);
    transition: transform 250ms var(--animation);
    .section-portfolio-item:hover & {
            transform: translateY(0%);
        }
}

/*
.section-portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.section-portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}*/

.section-portfolio-subtitle {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.section-portfolio-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--header-color)
}

.cards {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}