.team__top-text {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.12;
    }
}

.team {
    background: #F5F4FA;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--main-color);
    
}

.team-card__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-card__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 16px;
}

.team-list {
    margin-bottom: -30px;
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        margin: -15px;
        }
}

.team-list__item {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        width: calc(100% / 4 - 30px);
    }
}

.team-list__item:nth-child(4n) {
    /*
    margin-right: 0;*/
}

.team-list__item:nth-last-child(-n + 4) {
    /*
    margin-bottom: 0;*/
}

.team-card__item{
    /*
    & + & {
        margin-left: 10px;
    }*/
}

.team-card__link {
    width: 44px;
    height: 44px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: background-color 250ms var(--animation), color 250ms var(--animation);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--main-color);
    }
}

.team-card__icon {
    fill: currentColor;
}

.team-card__list {
    display: flex;
    justify-content: center;
}